
\.vs/Project-git/v15/

\.vs/ProjectSettings\.json

\.vs/slnx\.sqlite

Project/Lattice Problem/Code/\.idea/

Project/Lattice Problem/Code/cmake-build-debug/

Project/\.vscode/

Project/Lattice Problem/Code/data/

Project/Lattice Problem/Code/cuda_version/data/

Project/Lattice Problem/Code/Lattice problem\.sln
Project/Lattice Problem/Code/example3D
Project/Lattice Problem/Code/growthCurve3D
Project/Lattice Problem/Code/cuda_version/example3D
Project/Lattice Problem/Code/cuda_version/growthCurve3D

Project/Lattice Problem/Code/Lattice problem\.vcxproj

Project/Lattice Problem/Code/Lattice problem\.vcxproj\.filters

Project/Lattice Problem/Code/Lattice problem\.vcxproj\.user

*.o
*.txt

*.sln

*.vcxproj

Project/Lattice Problem/Code/PMPHtest2\.vcxproj\.filters

Project/Lattice Problem/Code/PMPHtest2\.vcxproj\.user

Project/Lattice Problem/Code/Debug/PMPHtest2\.log

Project/Lattice Problem/Code/cuda_version/Ny mappe/

Project/Lattice Problem/Code/\.vs/
